.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* App.css */
:root {
  --primary-color: #039198;
  --secondary-color: white;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: var(--secondary-color);
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  overflow: hidden;
}

.header {
  background: var(--primary-color);
  color: var(--secondary-color);
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #0779e4 3px solid;
}

.header h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  font-size: 24px;
}

.content {
  padding: 20px;
  background: var(--secondary-color);
}

h2 {
  color: var(--primary-color);
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  padding-left: 1em;
  text-indent: -1em;
}

ul li::before {
  content: "•";
  color: var(--primary-color);
  padding-right: 5px;
}
